@mixin flex($align, $justify, $options: ()) {
    display: flex;
    align-items: #{$align};
    justify-content: #{$justify};

    @each $key, $value in $options {
        @if $key =='gap' {
            #{$key}: $value;
        } @else {
            #{'flex-' + $key}: $value;
        }
    }
}

@mixin grid($align, $justify, $options: ()) {
    display: grid;
    align-items: #{$align};
    justify-items: #{$justify};

    @each $key, $value in $options {
        @if $key =='columns' {
            grid-template-columns: $value;
        } @else if $key =='rows' {
            grid-template-rows: $value;
        } @else if $key =='gap' {
            #{$key}: $value;
        } @else {
            #{'grid-' + $key}: $value;
        }
    }
}

@mixin font-size($min, $max) {
    $size-diff: $max - $min;
    $size-diff-mobile: $size-diff * 1.7;

    font-size: calc(#{$min + 'px'} + #{$size-diff-mobile} * ((100vw - 320px) / 1024));

    @media screen and (min-width: 767px) {
        font-size: calc(#{$min + 'px'} + #{$size-diff} * (100vw / 1024));
    }

    @media screen and (min-width: 1024px) {
        font-size: #{$max + 'px'};
    }
}

@mixin transition($properties, $timing: ease-in-out) {
    $readyProperties: '';

    @each $key, $value in $properties {
        $readyProperties: #{$readyProperties + ' ' + $key + ' ' + $value};
    }

    transition: $readyProperties $timing;
}

@mixin field-size($size) {
    width: $size + 10;
    height: $size + 70;
}

@mixin animation($name, $duration, $iteration) {
    animation: {
        name: #{$name};
        duration: $duration;
        timing-function: linear;
        iteration-count: $iteration;
        fill-mode: forwards;
    }
}

$bg-color: #e5e1e1;
$field-bg-color: #c4a5d9;
$field-size: 300px;

%resetBtnSettings {
    font-weight: bold;
    outline: none;
    cursor: pointer;
    color: #333438;

    &:active {
        opacity: 0.7;
    }

    &:disabled {
        pointer-events: none;
    }
}

%btn {
    @extend %resetBtnSettings;
    width: auto;
    height: auto;
    padding: 7px 15px;
    background-color: #b5beee;

    border: none {
        radius: 10px;
    }

    &:hover {
        background-color: darken(#b5beee, 15%);
    }

    &:disabled {
        background-color: #9f9f9f;
    }
}

%before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
