@import 'extends';
@import 'animation';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

html,
body {
    overflow-x: hidden;
    text-size-adjust: none;
    color: #000000;
    background-color: $bg-color;
}

.container {
    @include flex('center', 'center', (direction: column));
    width: 100%;
    height: 100vh;
    max-width: 1024px;
    min-width: 320px;
    margin: 0 auto;
    background-color: $bg-color;
}

.screen-box {
    @include flex('center', 'space-between');
    @include transition((all: 0.3s));
    position: relative;
    width: 200%;
    left: 0;

    .screen {
        width: 100%;

        &__title {
            @include font-size(35, 75);
            color: #5e4f69;
            margin-bottom: 6%;
        }
    }
}

.btn {
    @include font-size(14, 22);
    @extend %btn;

    &__new-word-btn {
        padding: 3px 15px;
        margin-top: 7px;
    }
}

.game {
    &__field {
        @include flex('center', 'space-between', (direction: column));
        @include field-size($field-size);
        position: relative;
        border-radius: 10px;
        background-color: $field-bg-color;
        box-shadow: 4px -1px 10px 2px darken($field-bg-color, 12%);
        padding-bottom: 7px;

        &.loading {
            pointer-events: none;
            background-color: transparentize($field-bg-color, 0.2);
            z-index: 2;

            &::before {
                @extend %before;
                @include animation('loading', 1.5s, infinite);
                width: 35px;
                height: 35px;
                z-index: 2;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                border: 7px solid #616161 {
                    radius: 50%;
                    right-color: transparent;
                }
            }
        }
    }

    &__canvas {
        width: 100%;
        height: 40%;
        
        border: 3px solid #808080 {
            radius: 10px;
        }
    }

    &__info-box {
        @include flex('center', 'center', (
            direction: column,
            gap: 10px
        ));
        width: 90%;
    }

    &__lives-left {
        @include font-size(15, 25);

        &>.lives-count {
            font-weight: bold;
        }
    }

    &__word-preview {
        @include flex('center', 'center', (
            gap: 10px,
            wrap: wrap
        ));
        width: 100%;
        min-height: 23px;

        &>.letter {
            @include font-size(20, 33);

            &.not-guessed {
                color: #d10000;
            }
        }
    }

    &__alphabet {
        @include grid('center', 'center', (
            columns: repeat(7, 30px),
            gap: 5px
        ));

        &>.alphabet-item {
            @extend %resetBtnSettings;
            width: 25px;
            height: 25px;
            position: relative;
            font-size: 15px;
            line-height: 15px;
            background-color: transparent;

            border: 1px solid #8a8a8a {
                radius: 50%;
            }

            &:nth-child(22) {
                grid-column: 2;
            }

            &:hover {
                border-color: #000000;
            }

            &.correct {
                border-color: #0af10a;
            }

            &.uncorrect {
                border-color: #ff0000;

                &::before,
                &::after {
                    @extend %before;
                    width: 100%;
                    height: 1px;
                    top: 10px;
                    background-color: #ff0000;
                }

                &::before {
                    transform: rotate(40deg);
                }

                &::after {
                    transform: rotate(-40deg);
                }
            }
        }
    }

    &__game-over {
        @include transition((all:0.3s));
        @include animation('game-over', 0.6s, 1);
        display: none;
        position: absolute;
        opacity: 0;
        padding: 5px;
        z-index: -5;

        border: 3px solid #808080 {
            radius: 10px;
        }

        &>.game-over-title {
            @include font-size(24, 45);
        }

        &.show {
            display: block;
            z-index: 1;
            opacity: 1;
        }
    }
}

@import 'media';
